.imageWrapper
{
    border: thin solid black;
    margin: 1em 1em 1em 1em;

}

.imageWrapper img
{
    width:100%;
}

.imageGallary
{
    display:flex;
    flex-wrap: wrap;   
    justify-content: center;
}

body
{
    padding:1em;
}

li
{
    margin-top:1em;
}