div#wrapper
{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header"
    "menu"
    "content"
    "footer";
    grid-template-rows: 1fr .5fr 2fr .5fr;
    margin: 1rem;
}

#header
{
    grid-area: header;
    border: thin blue solid;
}

#headerImage>img
{
    width:100%;
    max-width: 100%;
}

#navbar
{
    grid-area: menu;
}

#content
{
    grid-area: content;
    display:grid;
    border: thin green solid;
    gap:1em;
    padding:1em;
}

#content>div
{
    border: thin red solid;
    text-align: center;
}

#footer
{
    grid-area:footer;
}

