
h1 { 
    color:red;
    font-family: sans-serif;
    border-bottom: 1px solid blue;
    }
h2
{
    color: slategrey;
}
blockquote { 
    background-color: lightgray;
    padding: 1rem;
    }
body
{
    background-color:lightblue;
    margin:3em;
    font-family: Arial, sans-serif;
}

p
{
    margin-left: 3.5em;
}

ul
{
    margin-left:2em;
}

img.side
{
    float:right; margin: 0 12px;
}